sources:
  "/opt/elasticbeanstalk/node-install/": "https://iojs.org/dist/v1.8.1/iojs-v1.8.1-linux-x64.tar.gz"

container_commands: 
  update-node-home:
    command: sed -i.bak 's#env NODE_HOME.*#env NODE_HOME="/opt/elasticbeanstalk/node-install/iojs-v1.8.1-linux-x64"#' /tmp/deployment/config/#etc#init#nodejs.conf

